futag-llvm-package
futag-llvm-package.latest.tar.xz

json-c/json-c-0.16-20220414.tar.gz
json-c/json-c

libpq-standalone/libpq-standalone-REL_14_4.tar.gz
libpq-standalone/libpq-standalone

FreeImage/FreeImage
FreeImage/FreeImage3180.zip

LuaJIT/LuaJIT
LuaJIT/LuaJIT-2.1.0-beta3.tar.gz

tinyxml2/tinyxml2
tinyxml2/9.0.0.tar.gz

nDPI/nDPI
nDPI/4.4.tar.gz

pugixml/pugixml
pugixml/pugixml-1.12.tar.gz

curl/curl
curl/curl-7.85.0.tar.gz

php/php7
php/curl-7.85.0.tar.gz

**/python-venv
**/a.out
**/*.tar.gz
.subfolder.tmp

.vscode/